*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url('img/d8n1w9h-9a3e9f66-a991-463c-a006-6580f679a903.png');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#textfp{
  font-size: 2em;
  padding: 20px;
  color: white;
  font-family: "Segoe UI", sans-serif;

}
#iconfp{

  height: 40px;
  width: 40px;
  margin-bottom: -5px;
  margin-top: 10px;
}
#About{
  color: black;
  margin-left: 30px;
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
#iconp{
  height: 35px;
  width: 35px;
  margin-bottom: -5px;
  
}
#partleft{
  background-color:  #e39b14;
  margin-top: 50px;
  padding: 10px;
  background-image: url('img/images.jpg');
}
#textp{
  font-size: 2em;
  padding: 20px;
  color: black;
  display: table-row;
}
p{

  margin-top: 47px;	
  padding-left: 40%;
  padding-right: 10%;	
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
}
#option{
  background-color:  #e39b14;
  margin-top: 50px;
  padding: 10px;
  margin-top: 100px;
  background-image: url('img/images.jpg');
}
#blockleft{

  float: left;
  height: 100%;
  width: 30%;
  opacity: 0.82;
}
header{
  opacity: 0.82;
}
#block1{
  float: right;
  background-color:  #eb9b34;
  margin-top: 50px;
  opacity: 0.82;
margin-left: 10%;	
float: left;
width: 30%;
height: 20%;
background-image: url('img/images.jpg');
}
.headimg{
  background-image: url('img/thumb2-yellow-material-background-material-design-yellow-black-abstraction-lines-abstract-backgrounds.jpg');
	width: 100%;
	height: 10%;
}
#adaugareblock{
  background-color:  #ffda21;
  margin-top: 50px;
  margin-left: 35%;
  margin-right: 25%; 
  background-image: url('img/images.jpg');
   opacity: 0.85;
}
#form1{
  color: white;
    margin-top: 50px;
  margin-left: 35%;
  margin-right: 25%; 
  width: 10%;
}
table,th,td{
  color: white;
  border: 1px solid white;
   text-align: center;
}
th {
 
}
table {
  border-collapse: collapse;
  width: 50%;
  font-size:20px;
}
#tabprezent{
  margin-left: 35%;
  margin-right: 5%;
}
input{
  width: 70%;
}

#modtab1{
  float: left;
}
#modtab2{
  margin-left: 2%;
  float: left;
}
#form2{
    color: white;
    margin-top: 50px;
  margin-left: 35%;
  margin-right: 35%;
}
#customers{
  margin-top: 2%;
      margin-left: 35%;
  margin-right: 5%;
}